@charset "UTF-8";
/* =======================================================================================
common
======================================================================================= */
:lang(en) { font-family: 'Play', sans-serif; }

.container { max-width: 1280px; margin: 0 auto; position: relative; }

#wrap { position: relative; }

#wrap::before { content: ''; display: -webkit-box; display: -ms-flexbox; display: flex; }

/* =======================================================================================
header
======================================================================================= */
@-webkit-keyframes dropUp { 0% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes dropUp { 0% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@-webkit-keyframes dropDown { 0% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@keyframes dropDown { 0% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

.header { position: absolute; left: 0; top: 0; z-index: 7; width: 100%; background: #fff; }

.header .container { position: static; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; /*max-width:$wideCont;*/ }

.header.active { -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06); box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06); }

.header.active .gnb_area { background: #fff; border-bottom: 1px solid #DDD; }

.header.active .topmenu::after { opacity: 1; }

.header.fixed { position: fixed; -webkit-animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06); box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06); }

.header.fixed .gnb_site { display: none; }

.gnb_site { background-color: #2D2D2D; color: #ccc; font-size: 1.4rem; }

.gnb_site .container { height: 4.5rem; }

.gnb_site .xi-angle-down-min { width: 2.2rem; height: 2.2rem; font-size: 1.4rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.5); margin-left: 1rem; -webkit-transition: .2s; transition: .2s; }

.gnb_site .site_area { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_site .site_area .list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_site .site_area .list a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: inherit; position: relative; -webkit-transition: .2s; transition: .2s; }

.gnb_site .site_area .list a:hover { color: #fff; }

.gnb_site .site_area .list a ~ a { position: relative; padding-left: 1rem; margin-left: 1rem; }

.gnb_site .site_area .list a ~ a::before { content: ''; display: block; background-color: rgba(255, 255, 255, 0.27); width: 1px; height: 1rem; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); left: 0; top: 50%; }

.gnb_site .site_area .list a:first-child { color: #fff; }

.gnb_site .site_area_mobile { position: relative; display: none; }

.gnb_site .site_area_mobile .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem; color: #fff; font-size: 1.5rem; }

.gnb_site .site_area_mobile .list_wrap { width: 37rem; background: #fff; border-radius: 1rem; padding: 2rem; -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.24); box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.24); opacity: 0; visibility: hidden; -webkit-transition: 0.2s; transition: 0.2s; color: #000; position: absolute; left: .8rem; top: .8rem; }

.gnb_site .site_area_mobile .list_wrap .represent { border-bottom: 1px solid #E8E8E8; padding-bottom: 2rem; font-size: 1.6rem; font-weight: 700; margin-bottom: 1.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gnb_site .site_area_mobile .list_wrap .represent a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gnb_site .site_area_mobile .list_wrap .represent a span { margin-top: 0.5rem; }

.gnb_site .site_area_mobile .list_wrap .represent i { border-color: #DFDFDF; color: #000; }

.gnb_site .site_area_mobile .list_wrap .list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_site .site_area_mobile .list_wrap ul { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.gnb_site .site_area_mobile .list_wrap ul li ~ li { margin-top: 1.8rem; }

.gnb_site .site_area_mobile .list_wrap ul a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.5rem; font-weight: 500; position: relative; }

.gnb_site .site_area_mobile .list_wrap ul a::before { content: ''; display: block; width: 2.5rem; -webkit-box-flex: 0; -ms-flex: 0 0 2.5rem; flex: 0 0 2.5rem; max-width: 2.5rem; height: 2.5rem; background: url("/img/common/gnb_site_logos.svg") 0 0/2.5rem auto no-repeat; margin-right: 0.5rem; color: inherit; }

.gnb_site .site_area_mobile .list_wrap ul a span { display: inline-block; position: relative; white-space: nowrap; }

.gnb_site .site_area_mobile .list_wrap ul a span::after { content: ""; display: block; width: .5rem; height: .5rem; border-radius: 50%; background: #D80000; -webkit-transform: scale(0); transform: scale(0); -webkit-transition: .2s; transition: .2s; position: absolute; right: -.8rem; top: -.3rem; }

.gnb_site .site_area_mobile .list_wrap ul a:hover span::after { -webkit-transform: scale(1); transform: scale(1); -webkit-transition-delay: .2s; transition-delay: .2s; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(1) a::before { background-position: 0 0rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(2) a::before { background-position: 0 -3.5rem; }

/*.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(3) a::before { background-position: 0 -7rem; }*/

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(3) a::before { background-position: 0 -10.5rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(4) a::before { background-position: 0 -14rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(5) a::before { background-position: 0 -17.5rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(6) a::before { background-position: 0 -21rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(7) a::before { background-position: 0 -24.5rem; }

.gnb_site .site_area_mobile .list_wrap .group1 li:nth-child(8) a::before { background-position: 0 -28rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(1) a::before { background-position: 0 -31.5rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(2) a::before { background-position: 0 -35rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(3) a::before { background-position: 0 -38.5rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(4) a::before { background-position: 0 -42rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(5) a::before { background-position: 0 -45.5rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(6) a::before { background-position: 0 -49rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(7) a::before { background-position: 0 -52.5rem; }

.gnb_site .site_area_mobile .list_wrap .group2 li:nth-child(8) a::before { background-position: 0 -56rem; }

.gnb_site .site_area_mobile.active i { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.gnb_site .site_area_mobile.active .list_wrap { opacity: 1; visibility: visible; z-index: 12; }

.gnb_site .gnb_util { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gnb_site .gnb_util .welcome { display: block; margin-right: 1rem; }

.gnb_site .gnb_util a { font-size: 1.5rem; padding: .8rem .4rem; display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_site .gnb_util a i { margin-right: 0.5rem; }

.gnb_site .gnb_util .nav { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_site .gnb_util .nav li ~ li { position: relative; padding-left: 1rem; margin-left: 1rem; }

.gnb_site .gnb_util .nav li ~ li::before { content: ''; display: block; background-color: rgba(255, 255, 255, 0.27); width: 1px; height: 0.8rem; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); left: 0; top: 50%; }

.gnb_site .gnb_util .icon_join, .gnb_site .gnb_util .icon_mypage { width: 1.8rem; height: 2rem; background: url("../img/common/icon_user.svg") 0 0/1.8rem 4rem no-repeat; }

.gnb_site .gnb_util .icon_login { width: 1.7rem; height: 2rem; background: url("../img/common/icon_lock.svg") 0 0/1.7rem 4rem no-repeat; }

.gnb_site .gnb_util .icon_logout { width: 1.7rem; height: 2rem; background: url("../img/common/icon_unlock.svg") 0 0/1.7rem 4rem no-repeat; }

.gnb_area { position: relative; -webkit-transition: .2s; transition: .2s; }

.gnb_area .nav { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_area .logo { padding: 2.6rem 0; height: 10rem; }

.gnb_area .logo .link { background: url("../img/common/logo.svg") 0 0/100% 6.8rem no-repeat; display: block; height: 3.4rem; }

.gnb_area .gnb_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gnb_area .pop_title, .gnb_area .pop_eng_title, .gnb_area .pop_close { display: none; }

.gnb_area .btn_wrap { padding-top: 2.5rem; }

.gnb_area .btn_wrap > button { width: 5rem; height: 5rem; border-radius: 50%; display: inline-block; vertical-align: middle; }

.gnb_area .btn_allmenu { margin-left: 1.2rem; background: var(--color1); }

.gnb_area .btn_allmenu .icon { display: block; width: 1.8rem; height: .2rem; background: #fff; position: relative; margin: 0 auto; }

.gnb_area .btn_allmenu .icon::before, .gnb_area .btn_allmenu .icon::after { content: ""; display: block; width: 1.8rem; height: 0.2rem; background: #fff; border-radius: 0.2rem; top: -.7rem; position: absolute; right: 0; }

.gnb_area .btn_allmenu .icon::after { width: 1.8rem; top: .7rem; }

.gnb_area .btn_sch_open { color: #151515; background-color: #F2F3F8; }

.gnb_area .btn_sch_open .xi-search { font-size: 2.4rem; }

.gnb_area .sch_layer { opacity: 0; visibility: hidden; -webkit-transition: 0.3s; transition: 0.3s; position: absolute; left: 0; top: 10rem; z-index: 9; background: #fff; width: 100%; text-align: center; padding: 0; -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12); box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12); overflow: hidden; }

.gnb_area .sch_layer input[type=text] { border: 0; border-bottom: 3px solid #F2F2F2; color: #727272; font-size: 2.8rem; width: 60rem; padding: 1.5rem 4rem 1.5rem 1.5rem; margin-left: 2rem; }

.gnb_area .sch_layer .btn_sch { font-size: 2.5rem; color: #5D5D5D; -webkit-transform: translateX(-3rem); transform: translateX(-3rem); vertical-align: middle; }

.gnb_area .sch_layer .btn_sch_close { position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 50%; top: 3rem; }

.gnb_area .sch_layer .btn_sch_close i { color: #373737; font-size: 3rem; font-weight: 700; }

.gnb_area .sch_layer.active { opacity: 1; visibility: visible; border-top: 1px solid #E9E9E9; padding: 12rem 0 7rem; }

.topmenu { display: -webkit-box; display: -ms-flexbox; display: flex; }

.topmenu::after { content: ''; display: block; width: 100%; height: 1px; position: absolute; left: 0; top: 10rem; z-index: 5; background: #E9E9E9; opacity: 0; -webkit-transition: .2s; transition: .2s; }

.topmenu a[target="_blank"]::after { display: inline-block; font-family: 'xeicon'; content: '\e980'; margin-left: .3rem; font-weight: 300; }

.topmenu .depth1 > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 3.75rem 4rem; color: #151515; }

.topmenu .depth1 > a span { display: block; white-space: nowrap; font-size: 2rem; font-weight: 700; position: relative; letter-spacing: -.025em; }

.topmenu .depth1 > a span::after { content: ""; display: block; width: .7rem; height: .7rem; border-radius: 50%; background: var(--color1); -webkit-transform: scale(0); transform: scale(0); -webkit-transition: .2s; transition: .2s; position: absolute; right: -1rem; top: -1rem; }

.topmenu .depth1.active > a span::after { -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-transition-delay: .2s; transition-delay: .2s; }

.topmenu .depth1.active .submenu { opacity: 1; visibility: visible; max-height: 100rem; -webkit-transition-delay: .2s; transition-delay: .2s; }

.topmenu .submenu { -webkit-transition: 0.35s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98); transition: 0.35s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98); opacity: 0; visibility: hidden; overflow: hidden; max-height: 0; position: absolute; left: 0; top: 10rem; z-index: 20; width: calc(100% - 7rem); background-color: #fff; text-align: left; -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12); box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12); border-radius: 0 0 4rem 4rem; }

.topmenu .title_area { width: 1280px; position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 50%; top: auto; margin-top: 4rem; }

.topmenu .title_area .title { font-size: 4.2rem; color: #000; margin-bottom: .5rem; }

.topmenu .title_area em { color: var(--color1); position: relative; font-size: 1.8rem; font-weight: bold; }

.topmenu .depth2 { max-width: 1280px; margin: 4rem auto; position: relative; overflow-y: auto; padding-left: 36rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.topmenu .depth2 > li { -webkit-box-flex: 0; -ms-flex: 0 0 23.2%; flex: 0 0 23.2%; margin-left: 1.8%; position: relative; margin-bottom: 2rem; }

.topmenu .depth2 > li > a { display: block; border: 3px solid #F7F8FA; border-radius: 0.8rem; padding: 1.5rem; font-size: 1.7rem; color: #3b3b3e; font-weight: 500; }

.topmenu .depth2 > li > a:hover { color: var(--color1); border-color: var(--color1); -webkit-transition: .25s; transition: .25s; }

.topmenu .depth2 > li.is-depth3 > a { position: relative; }

.topmenu .depth2 > li.is-depth3 > a::after { display: inline-block; font-family: 'xeicon'; content: '\e942'; font-size: 1.8rem; color: #333; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); right: 2rem; top: 50%; }

.topmenu .depth3 { margin: 1.5rem 0 2.5rem 1rem; }

.topmenu .depth3 > li > a { color: #727272; display: block; padding: .7rem 0 .7rem 1rem; position: relative; }

.topmenu .depth3 > li > a::before { content: ''; display: block; width: .3rem; height: .3rem; position: absolute; left: 0; top: 1.5rem; border-radius: 50%; background-color: #b3bec1; }

.topmenu .depth3 > li > a:hover { color: var(--color1); font-weight: 700; text-decoration: underline; }

.topmenu .depth4 { display: none; }

.topmenu.fullmenu .depth1.on > a { color: var(--color1); }

.topmenu.fullmenu .depth1 > a span::after { -webkit-transform: scale(0); transform: scale(0); }

.topmenu.fullmenu .depth1:hover > a span::after, .topmenu.fullmenu .depth1.on > a span::after { -webkit-transform: scale(1.2); transform: scale(1.2); }

.topmenu.fullmenu .depth1.active .submenu { margin: 3rem 0; -webkit-transition: margin 0.3s, opacity 0.5s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98); transition: margin 0.3s, opacity 0.5s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98); -webkit-transition-delay: .2s; transition-delay: .2s; }

.topmenu.fullmenu .submenu { -webkit-transition: .35s; transition: .35s; width: auto; position: static; left: auto; background-color: transparent; border-top: 0; -webkit-box-shadow: none; box-shadow: none; }

.topmenu.fullmenu .submenu .title_area { display: none; padding: 0; }

.topmenu.fullmenu .submenu .depth2 { padding-left: 2rem; max-width: inherit; display: block; margin-top: 0; margin-bottom: 0; }

.topmenu.fullmenu .submenu .depth2 > li { margin-bottom: 0; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; margin-left: auto; }

.topmenu.fullmenu .submenu .depth2 > li > a { border: 0; }

.topmenu.fullmenu .submenu .depth2 > li.is-depth3 > a:after { display: none; }

.topmenu.fullmenu .submenu .depth3 { display: none; }

.allmenu { display: block; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 8; padding-left: 7.6rem; }

.allmenu .pop_title { display: block; color: #000; font-size: 4.2rem; margin: 1rem 0 4.3rem; }

.allmenu .pop_eng_title { display: -webkit-box; display: -ms-flexbox; display: flex; width: 7.6rem; height: 100%; background: var(--color1); color: #fff; position: fixed; left: 0; top: 0; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 2.5rem; padding-top: 4.3rem; }

.allmenu .pop_close { display: block; position: absolute; right: 0; top: 0; font-size: 4.1rem; color: #242427; }

.allmenu .header { position: static; }

.allmenu .header .member_area { display: block; }

.allmenu .header .gnb_area .gnb_wrap { display: block; background-color: #fff; position: fixed; left: 7.6rem; top: 4.5rem; right: 0; bottom: 0; z-index: 9; padding-top: 10rem; max-width: none; }

.allmenu .header .gnb_area .gnb_wrap::before { display: none; }

.allmenu .header .gnb_area .gnb_wrap .nav { display: block; max-width: 1400px; margin: 0 auto; position: relative; height: calc(100% - 14.5rem); }

.allmenu .topmenu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: calc(100% - 10rem); overflow: auto; margin: 0 auto; }

.allmenu .topmenu::after { display: none; }

.allmenu .topmenu::-webkit-scrollbar-track { background-color: #f5f5f5; border-radius: 1rem; }

.allmenu .topmenu::-webkit-scrollbar { width: 0.6rem; }

.allmenu .topmenu::-webkit-scrollbar-thumb { background-color: #d5d7dc; border-radius: 1rem; }

.allmenu .topmenu .submenu { opacity: 1; visibility: visible; max-height: inherit; width: 100%; position: static; -webkit-box-shadow: none; box-shadow: none; background: none; }

.allmenu .topmenu .submenu::before { display: none; }

.allmenu .topmenu .depth1 { display: block; position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 16.66%; flex: 1 1 16.66%; max-width: 16.66%; height: 60vmax; }

.allmenu .topmenu .depth1:hover { background: #F7FAF9; }

.allmenu .topmenu .depth1 > a { display: block; font-size: 2.8rem; padding: 1.7rem 1.5rem; margin-left: 0; -webkit-transition: .2s; transition: .2s; }

.allmenu .topmenu .depth1 > a span { font-weight: 700; text-align: left; }

.allmenu .topmenu .depth1:last-child { display: block; }

.allmenu .topmenu .depth2 { display: block; padding-left: 0; margin: 0; }

.allmenu .topmenu .title_area, .allmenu .topmenu .depth1 > a::before { display: none; }

.allmenu .topmenu .depth2 > li { margin-bottom: 0; margin-left: 0; }

.allmenu .topmenu .depth2 > li > a { border: 0; font-size: 1.8rem; }

.allmenu .topmenu .depth3 { margin: 0 0 0 1.5rem; }

.allmenu .sitemap_footer { margin-top: 5rem; }

.allmenu .sitemap_footer .sns_list { margin-bottom: 1rem; }

.allmenu .sitemap_footer .sns_list a { margin-right: 1rem; }

.allmenu .sitemap_footer .sns_list i { font-size: 1.8rem; color: #222; }

.allmenu .sitemap_footer .copyright { color: #757575; }

.main { position: relative; width: 100%; margin-top: 14.5rem; }

.quick { position: fixed; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 9; width: 11.2rem; border-radius: 1.2rem 0 0 1.2rem; background: #fff; text-align: center; -webkit-box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.07); box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.07); border-radius: 1rem 0 0 1rem; overflow: hidden; }

.quick i { display: block; width: 4rem; height: 4rem; margin: 0 auto; background: 0 0 /100% 8rem no-repeat; }

.quick a { display: block; padding: 1.8rem 1rem; -webkit-transition: .2s; transition: .2s; }

.quick span { font-size: 1.5rem; }

.quick .active a, .quick a:hover { background: #333; color: #fff; }

.quick .active a i, .quick a:hover i { background-position: 0 -4rem; }

.acctoggle { position: fixed; left: 0; top: 50%; z-index: 6; -webkit-transform: translateY(-50%); transform: translateY(-50%); border-radius: 0 1.2rem 1.2rem 0; background: #fff; color: #151515; text-align: center; border: 1px solid #EBEBEB; -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.07); box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.07); }

.acctoggle button { display: block; padding: 1rem .5rem; min-width: 5rem; min-height: 5rem; position: relative; -webkit-transition: .2s; transition: .2s; }

.acctoggle button i { font-size: 2.4rem; -webkit-transition: .2s; transition: .2s; }

.acctoggle button span { font-size: 1.4rem; color: #fff; }

.acctoggle button::before { content: ''; display: block; width: 0; height: 100%; -webkit-transition: .2s ease; transition: .2s ease; background-color: #666; position: absolute; left: 0; top: 0; }

.acctoggle button ~ button { border-top: 1px solid #e5e5e5; }

.acctoggle button:hover { background: #e5e5e5; /* i{opacity:0;} span{opacity:1;visibility:visible;transition-delay:.1s;} &::before{width:100%;} */ }

.acctoggle button span { opacity: 0; visibility: hidden; -webkit-transition: .2s; transition: .2s; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.acctoggle .acctoggle_contrast, .acctoggle .acctoggle_sns { border-radius: 0 1.2rem 0 0; }

.acctoggle .acctoggle_fontsize { border-radius: 0 0 1.2rem 0; }

/* =======================================================================================
go_top
======================================================================================= */
.go_top { display: none; width: 5rem; height: 6rem; color: #151515; position: fixed; text-align: center; left: 0; top: 50%; -webkit-transform: translateY(9rem); transform: translateY(9rem); z-index: 8; background: #333; color: #fff; border-radius: 0 1rem 1rem 0; }

.go_top i { font-size: 2.2rem; -webkit-transition: .2s; transition: .2s; }

.go_top span { display: block; font-size: 1.3rem; line-height: 1; }

.go_top:hover i { -webkit-transform: translateY(-0.5rem); transform: translateY(-0.5rem); }

/* =======================================================================================
footer
======================================================================================= */
.footer { position: relative; border-top: 1px solid #ddd; padding: 3rem 0; color: #151515; }

.footer .container { max-width: 1280px; }

.footer .footer_nav_bar { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 2rem; }

.footer .footer_nav a { display: inline-block; padding: 3rem 0; font-size: 1.7rem; }

.footer .footer_nav a ~ a { position: relative; padding-left: 1rem; margin-left: 1rem; }

.footer .footer_nav a ~ a::before { content: ''; display: block; background-color: #c6c6c6; width: 1px; height: 0.8rem; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); left: 0; top: 50%; }

.footer .footer_nav strong { color: var(--color1); }

.footer .footer_cont { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.footer .cont_left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.footer .footer_logo { margin: -2rem 9rem 0 0; }

.footer .footer_logo .link { background: url("../img/common/footer_logo.svg") 0 0/contain no-repeat; display: block; width: 19.6rem; height: 8.3rem; }

.footer .address_group { line-height: 1.8; color: #555; display: block; }

.footer .address_group address strong { color: #151515; }

.footer .address_group address span { display: block; }

.footer .sns_list a ~ a { margin-left: 1.5rem; }

.footer .sns_list i { font-size: 2.8rem; }

.footer .copyright { display: block; }

.footer .relate_site { width: 20.7rem; position: relative; }

.footer .relate_site .title { display: block; padding: 1.4rem 0; border-bottom: 1px solid #707070; }

.footer .relate_site i { font-size: 2rem; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); right: 1rem; top: 50%; -webkit-transition: .3s; transition: .3s; }

.footer .relate_site .list { opacity: 0; visibility: hidden; overflow: hidden; position: absolute; left: auto; bottom: 4.9rem; max-height: 0; background-color: #fff; -webkit-transition: .3s; transition: .3s; width: 100%; z-index: 2; }

.footer .relate_site .list > li { padding: 0; border: 0; text-align: left; }

.footer .relate_site .list > li a { display: block; padding: .3rem 1rem; font-size: 1.4rem; color: #757575; }

.footer .relate_site .list > li a:hover { background-color: #e5e5e5; }

.footer .relate_site.active i { -webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }

.footer .relate_site.active .list { opacity: 1; visibility: visible; border: 1px solid #e8e8e8; padding: 1rem 0; max-height: 30rem; overflow: auto; }

.footer .relate_site.active .list::-webkit-scrollbar-track { background-color: #f5f5f5; border-radius: 1rem; }

.footer .relate_site.active .list::-webkit-scrollbar { width: 0.6rem; }

.footer .relate_site.active .list::-webkit-scrollbar-thumb { background-color: #d5d7dc; border-radius: 1rem; }

.site_wrap { display: flex; }

/* =======================================================================================
폰트사이즈
======================================================================================= */
.acc_fontsize { font-size: 13px; }

.acc_fontsize .gnb_site .site_area { display: none; }

.acc_fontsize .gnb_site .site_area_mobile { display: block; }

.acc_fontsize .quick a { padding: 1rem 0; }

.acc_fontsize .quick i { display: none; }

/* =======================================================================================
블랙모드
======================================================================================= */
@media (max-width: 1919px) {
  .topmenu .submenu { width: 100%; }
}
@media (max-width:1550px){
  .quick{display: none;}
}
@media (max-width: 1279.98px) { html { font-size: 9px; }
  .container { padding: 0 1.5rem; }
  .gnb_site .site_area .list a { letter-spacing: -1px; }
  .gnb_site .site_area .list a ~ a { padding-left: 0.45rem; margin-left: 0.45rem; }
  .gnb_site .gnb_util .text { display: none; }
  .gnb_site .gnb_util a { padding-left: 0; padding-right: 0; }
  .allmenu { padding-left: 0; }
  .allmenu .header .gnb_area .gnb_wrap { left: 0; padding: 0; }
  .allmenu .pop_eng_title { display: none; }
  .submenu .title_area { width: 20%; left: 2rem; -webkit-transform: none; transform: none; }
  .submenu .title_area .title { font-size: 3rem; }
  .submenu .title_area p { width: 100%; }
  .topmenu .depth1 > a { padding: 3.75rem 3rem 3.75rem 1.5rem; }
  .topmenu .depth1 > a span { font-size: 1.8rem; } }

@media (max-width: 1023.98px) { html.acc_fontsize { font-size: 10px; }
  .header .topmenu { display: none; }
  .header.active .topmenu::after { top: 0; }
  .gnb_site .site_area { display: none; }
  .gnb_site .site_area_mobile { display: block; }
  .gnb_area .btn_allmenu { margin-left: 1.2rem; }
  .gnb_area .pop_close { width: 5rem; height: 5rem; background: var(--color1); }
  .allmenu .header .gnb_area .gnb_wrap { top: 14.5rem; overflow: visible; }
  .allmenu .header .gnb_area .gnb_wrap .nav { height: 100%; }
  .allmenu .pop_title { display: none; }
  .allmenu .pop_close { right: 1.5rem; top: -7.5rem; border-radius: 50%; background: #333 !important; font-size: 2.4rem; line-height: 4rem; color: #fff; }
  .allmenu .topmenu { position: relative; display: block; padding: 3rem 0; border-top: 1px solid #e8e8e8; }
  .allmenu .topmenu .depth1 { position: static; -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; margin-left: 0; margin-bottom: 0; height: auto; }
  .allmenu .topmenu .depth1 > a { border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 2.5rem 4.5rem; }
  .allmenu .topmenu .depth1 > a span { font-weight: 700; font-size: 3.7rem; }
  .allmenu .topmenu .depth1 > a span::before, .allmenu .topmenu .depth1 > a span::after { display: none; }
  .allmenu .topmenu .depth1.active > a { position: relative; }
  .allmenu .topmenu .depth1.active > a::after { content: ""; display: block; width: 1.3rem; height: 0.8rem; background: url("../img/common/select_arrow.png") 0 0/contain no-repeat; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); right: 4rem; top: 50%; border: 0; }
  .allmenu .topmenu .depth1.active span { color: #111; font-weight: 700; background-color: #fff; }
  .allmenu .topmenu .depth1.active .submenu { display: block; padding: 0 3rem; max-height: inherit; }
  .allmenu .topmenu .depth1:hover { background: none; }
  .allmenu .topmenu.active .depth1 > a { color: #757575; }
  .allmenu .topmenu .submenu { display: none; background-color: #fff; overflow-y: auto; }
  .allmenu .topmenu .depth2 > li { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .allmenu .topmenu .depth2 > li.active > a { background-color: var(--color1); color: #fff; }
  .allmenu .topmenu .depth2 > li.active > .depth3 { display: block; margin: 1rem; }
  .allmenu .topmenu .depth2 > li.is-depth3 > a::after { display: none; }
  .allmenu .topmenu .depth2 > li.is-depth3 > a::before { display: inline-block; font-family: 'xeicon'; content: '\e942'; font-size: 1.8rem; position: absolute; right: 1rem; top: 1.7rem; z-index: 2; color: #aaa; -webkit-transition: .2s; transition: .2s; }
  .allmenu .topmenu .depth2 > li.is-depth3.active > a::before { -webkit-transform: rotate(180deg); transform: rotate(180deg); color: #fff; }
  .allmenu .topmenu .depth2 > li > a { color: #333; font-size: 2.4rem; }
  .allmenu .topmenu .depth3 { display: none; font-size: 2rem; }
  .allmenu .sitemap_footer { display: block; position: fixed; left: 0; right: 0; bottom: 0; background: #fff; text-align: center; padding: 2rem 0; }
  .allmenu .sitemap_footer .sns_list i { font-size: 2.8rem; }
  .go_top { right: 0rem; }
  .sns_list { text-align: center; }
  .footer .footer_nav { text-align: center; }
  .footer .footer_nav a { padding-top: 1rem; padding-bottom: 1rem; } }

@media (max-width: 767.98px) { html { font-size: 8px; }
  html.acc_fontsize { font-size: 9px; }
  .gnb_area .logo { padding: 3.4rem 0; }
  .gnb_area .sch_layer input[type=text] { width: 85%; }
  .footer .footer_nav > li { padding-left: 1rem; margin-left: 1rem; }
  .footer .footer_nav::after { left: 0; width: 100%; }
  .footer .footer_cont { display: block; width: 100%; }
  .footer .cont_left { display: block; }
  .footer .address_group { text-align: center; }
  .footer .relate_site { width: 100%; margin-bottom: 3rem; }
  .footer .site_wrap { width: 100%; } }

@media (max-width: 320.98px) { html { font-size: 7px; }
  html.acc_fontsize { font-size: 8px; } }
/*# sourceMappingURL=layout.css.map */
